body {
  background-image: url(DSC_0369.jpg);
}

.name {
  margin: auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 120px;
  background-color: #f23cb2;

  opacity: .7;

  position: absolute;
  top: 100px;
  left: 11%;

  animation-name: floating;
  animation-duration: 8s;
}

.loud {
  margin-bottom: 20px;
  font-family: 'Bungee Shade', cursive;
  font-size: 80px;
  text-align: center;
}

.skills {
  margin: auto;
  width: 75%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 120px;
  background-color: #f23cb2;

  opacity: .7;

  position: absolute;
  top: 750px;
  left: 11%;
}

.topList {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

a {
    display: block;
    text-decoration: none;
    transition: .3s;
    color: #f23cb2;
}

a:link {
    color: #f23cb2; 
}

.topListEntry {
    float: right;
    padding-right: 0px;
    margin-top: 10px;
    width: 15%;
    display: block;
    text-align: center;
    color: #a5bde2;
    transition: 0.4s;
}

a:hover {
    color: white;
    text-decoration: none;
}

.topListEntry:hover {
    color: white;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes floating {
  from {
    position: absolute;
    top: 80px;
    left: 11%;
  }
  to {
    position: absolute;
    top: 100px;
    left: 11%;
  }
}
