body {
  background-image: url(background.jpg);
}

img {
    max-width: 33%;
    height: auto;
}

.home {
    text-align: center;
    margin-top: 15px;
    color: white;
}

a {
    color: #f23cb2;
    text-decoration: none;
}

a:link {
    color: #f23cb2; 
}

a:hover {
    color: white;
    text-decoration: none;
}

p {
    color: white;
}

p:hover {
    color: white;
    text-decoration: none;
}